.m-notice-detail {
  box-sizing: border-box;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: scroll;

  .m-notice-title,
  .m-notice-info,
  .m-notice-images,
  .m-users-info {
    padding: 0 20px;
  }

  // 公告标题
  .m-notice-title {
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    font-size: 24px;
    color: #2e3033;
    line-height: 36px;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  // 公告创建信息
  .m-notice-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 30px 0;
    height: 21px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #a1a5ac;
    line-height: 21px;
    .m-user-info {
      display: flex;
      align-items: center;
      .m-depart {
        margin-right: 10px;
        flex-shrink: 0;
      }
      .m-creator {
        word-break: break-all;
      }
    }
    .m-updated {
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  // 公告图片
  .m-notice-images {
    li {
      .m-pdf-wrapper {
        height: 300px;
      }

      margin-bottom: 20px;
      text-align: center;

      img {
        max-width: 100%;
        width: auto;
        height: auto;
        overflow: hidden;
      }
    }
  }

  // 公告主题内容
  .m-notice-content {
    margin: 0 20px 20px 20px;
    font-size: 17px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 32px;
    // 冲掉reset导致ue编辑器样式失效
    h1 {
      display: block;
      font-size: 2em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    h2 {
      display: block;
      font-size: 1.5em;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    h3 {
      display: block;
      font-size: 1.17em;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    h4 {
      display: block;
      -webkit-margin-before: 1.33em;
      -webkit-margin-after: 1.33em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    h5 {
      display: block;
      font-size: 0.83em;
      -webkit-margin-before: 1.67em;
      -webkit-margin-after: 1.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    h6 {
      display: block;
      font-size: 0.67em;
      -webkit-margin-before: 2.33em;
      -webkit-margin-after: 2.33em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }

    ol,
    ul {
      margin: 0;
      padding: 0;
      width: 95%;
    }

    ol,
    ul,
    li {
      list-style-type: inherit;
    }

    li {
      clear: both;
    }

    ul.custom_dash {
      list-style: none;
    }

    ul.custom_dash li {
      background-position: 0 3px;
      background-repeat: no-repeat
    }

    li.list-dash-paddingleft {
      padding-left: 35px
    }

    ul.custom_dot {
      list-style: none;
    }

    ul.custom_dot li {
      background-position: 0 3px;
      background-repeat: no-repeat
    }

    li.list-dot-paddingleft {
      padding-left: 20px
    }

    .list-paddingleft-1 {
      padding-left: 0
    }

    .list-paddingleft-2 {
      padding-left: 30px
    }

    .list-paddingleft-3 {
      padding-left: 60px
    }

    blockquote {
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;
    }

    a {
      color: -webkit-link;
      cursor: auto;
      text-decoration: underline;
    }

    td,
    th {
      padding: 5px 10px;
      border: 1px solid #DDD;
    }
  }

  // 附件
  .m-notice-attach {
    margin: 0 20px 15px 20px;
    padding-top: 20px;
    border-top: 1px solid #EEEEEE;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;

      .m-attach-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 44px;
          height: 44px;
          margin-right: 10px;
        }
      }
      .m-file-state {
        flex-shrink: 0;
        svg.ignore {
          width: 30px;
          height:30px;
          color: #A1A5AC;
          &.is-exist {
            color:#3071F2
          }
        }
        
      }
      .wrap-progress.ignore {
        height: 30px;
        .center_text {
          display: none;
        }
      }

      .m-attch-info {
        width: 200px;

        .m-attach-title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          height: 25px;
          font-size: 17px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #5C5F66;
          line-height: 24px;
        }

        .m-attach-size {
          height: 19px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #8A8F99;
          line-height: 20px;
        }
      }
    }
  }

  // 水平线
  .m-horizontal-line {
    border-top: 10px solid #f7f9fc;
  }

  // 用户已读未读信息
  .m-users {
    padding-top: 19px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;

      .m-user {
        display: flex;
        align-items: center;

        // 头像
        .m-avatar {
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 100%;
          margin-right: 10px;
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          overflow: hidden;
        }

        // 姓名
        .m-user-name {
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #2E3033;
          line-height: 21px;
        }
      }

      // 已读未读时间
      .m-read-time {
        height: 18px;
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #A1A5AC;
        line-height: 18px;
      }
    }

  }

  .mint-navbar {
    border-bottom: 1px solid #eee;
    color: #CACED7;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    line-height: 21px;

    .mint-tab-item {
      flex: none;
      position: relative;
    }

    .mint-tab-item.is-selected {
      border-bottom: none;
      color: #2E3033;
      margin-right: 20px;

      &:last-child {
        margin-left: 20px;
        margin-right: 0;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        width: 5px;
        height: 6px;
        background: #3071F2
      }
    }
  }

  // .mint-tab-container-wrap {
  //   height: 300px;
  //   overflow: scroll;
  // }

}